In [49]:
import pandas as pd
import numpy as np
from typing import Any

In [50]:
df = pd.read_excel("../data/2-PreferenciasBritanicos(TP1).xlsx")
df

    scones  cerveza  wiskey  avena  futbol Nacionalidad
0        0        0       1      1       1            I
1        1        0       1      1       0            I
2        1        1       0      0       1            I
3        1        1       0      0       0            I
4        0        1       0      0       1            I
5        0        0       0      1       0            I
6        1        0       0      1       1            E
7        1        1       0      0       1            E
8        1        1       1      1       0            E
9        1        1       0      1       0            E
10       1        1       0      1       1            E
11       1        0       1      1       0            E
12       1        0       1      0       0            E

In [51]:
def __init_confusion_matrix_rows__(out_labels : np.ndarray) -> dict[Any, np.ndarray] :
    out_labels_size = out_labels.shape[0]
    return dict(map(lambda x : (x, np.zeros(out_labels_size)), out_labels))

In [52]:
def get_confusion_matrix_row(conf_mat : pd.DataFrame, real : Any) -> pd.DataFrame:
    return conf_mat.loc[real].to_frame().T

In [53]:
def get_confusion_matrix_value(conf_mat : pd.DataFrame, real : Any, predicted : Any):
    return conf_mat[predicted][real]

In [54]:
def calculate_confusion_matrix(possible_out_labels : np.ndarray, predicted : dict[Any, Any], expected : dict[Any, Any]):
    data        = __init_confusion_matrix_rows__(possible_out_labels)
    conf_mat_df = pd.DataFrame(columns=possible_out_labels, index=possible_out_labels, data=data)
    for expected_idx, expected_label in expected.items():
        predicted_label = predicted[expected_idx]
        conf_mat_df[predicted_label][expected_label] += 1
    return conf_mat_df

In [55]:
predicted = {
    0: "I",
    1: "E",
    2: "I"
}

In [56]:
expected = {
    0: "I",
    1: "I",
    2: "I"
}

In [57]:
conf_mat = calculate_confusion_matrix(df["Nacionalidad"].unique(), predicted, expected)
conf_mat

     I    E
I  2.0  1.0
E  0.0  0.0

In [58]:
get_confusion_matrix_row(conf_mat, real="I")

     I    E
I  2.0  1.0

In [59]:
get_confusion_matrix_value(conf_mat, real="I", predicted="E")

1.0