In [39]:
import sys
sys.path.append('../')

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_excel("../data/2-PreferenciasBritanicos(TP1).xlsx")
df

    scones  cerveza  wiskey  avena  futbol Nacionalidad
0        0        0       1      1       1            I
1        1        0       1      1       0            I
2        1        1       0      0       1            I
3        1        1       0      0       0            I
4        0        1       0      0       1            I
5        0        0       0      1       0            I
6        1        0       0      1       1            E
7        1        1       0      0       1            E
8        1        1       1      1       0            E
9        1        1       0      1       0            E
10       1        1       0      1       1            E
11       1        0       1      1       0            E
12       1        0       1      0       0            E

In [42]:
predicted = {
    0: "I",
    1: "E",
    2: "I",
    3: "I",
    4: "E",
    5: "I",
    6: "E"
}

In [43]:
expected = {
    0: "I",
    1: "I",
    2: "I",
    3: "I",
    4: "I",
    5: "I",
    6: "E"
}

In [44]:
from confusion_matrix import calculate_confusion_matrix, \
                             calculate_relative_confusion_matrix, \
                             get_confusion_matrix_row, \
                             get_confusion_matrix_value

In [45]:
conf_mat = calculate_confusion_matrix(df["Nacionalidad"].unique(), predicted, expected)
conf_mat

     I    E
I  4.0  2.0
E  0.0  1.0

In [46]:
rel_conf_mat = calculate_relative_confusion_matrix(df["Nacionalidad"].unique(), predicted, expected)
rel_conf_mat

          I         E
I  0.666667  0.333333
E  0.000000  1.000000

In [47]:
get_confusion_matrix_row(conf_mat, real="I")

     I    E
I  4.0  2.0

In [48]:
get_confusion_matrix_value(conf_mat, real="I", predicted="E")

2.0

In [49]:
from confusion_matrix import calculate_per_label_confusion_matrix

In [50]:
per_label_conf_mats = calculate_per_label_confusion_matrix(df["Nacionalidad"].unique(), predicted, expected)

In [51]:
for out_label in df["Nacionalidad"].unique():
    print("Confusion Matrix for: \"" + str(out_label) + "\"")
    display(per_label_conf_mats[out_label])
    print("\n------------------------------------------------\n")

Confusion Matrix for: "I"

     P    F
P  4.0  2.0
F  0.0  1.0

------------------------------------------------

Confusion Matrix for: "E"

     P    F
P  1.0  0.0
F  2.0  4.0

------------------------------------------------