In [9]:
import sys
sys.path.append('../')

In [10]:
import pandas as pd
import math
from data_split import k_fold_split

In [11]:
df = pd.read_excel("../data/2-PreferenciasBritanicos(TP1).xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: './data/2-PreferenciasBritanicos(TP1).xlsx'

In [ ]:
k = 2

In [ ]:
test_size = df.shape[0] / k
(test_size * (k-1), test_size)

(6.5, 6.5)

In [ ]:
train_df, test_df = k_fold_split(df, k)

In [ ]:
train_df

   scones cerveza wiskey avena futbol Nacionalidad
9       1       1      0     1      0            E
5       0       0      0     1      0            I
1       1       0      1     1      0            I
2       1       1      0     0      1            I
10      1       1      0     1      1            E
4       0       1      0     0      1            I
0       0       0      1     1      1            I

In [ ]:
test_df

   scones cerveza wiskey avena futbol Nacionalidad
3       1       1      0     0      0            I
8       1       1      1     1      0            E
7       1       1      0     0      1            E
6       1       0      0     1      1            E
11      1       0      1     1      0            E
12      1       0      1     0      0            E